<article class="article {{ include.class }}">
    <div class="media">
        <img src="https://images.unsplash.com/photo-1601780248946-d5b751d07699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&dpr=1&auto=format%2Ccompress&fit=crop&w=512&h=594" />
    </div>

    <header>
        <h3>Title goes here</h3>
    </header>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero error quaerat asperiores blanditiis dignissimos quis ea voluptatibus nostrum eum quos dicta voluptatum quod quibusdam minus saepe alias, nihil nulla dolores!</p>

    <a href="#" class="button">Read more</a>
</article>
