/*
* Layout rules for Gallery page
* Update Grid areas
*/
.page-gallery-liquid .site {
    grid-template-areas:
        'header header'
        'main main'
        'footer footer';
}

/*
* Gallery styles
*/
.gallery-liquid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    grid-auto-flow: dense;
    position: relative;

    li {
        display: block;
        list-style: none outside;
        overflow: hidden;
        grid-column: span 2;

        &:hover {
            outline: 0.5em solid #000;
        }

        label {
            display: block;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }

            span {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            strong {
                display: none;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &::before {
                display: block;
                content: '';
                padding-top: calc(50% - 1em);
            }

            &.close {
                display: none;
                font-size: 2em;
                width: 2em;
                height: 2em;
                line-height: 1;
                justify-content: center;
                align-items: center;
                transition: transform 0.3s ease-in-out;
                position: fixed;
                top: 2em;
                right: 2em;
                background: #000;
                color: #fff;
                z-index: 900;

                &:hover {
                    transform: scale(1.1);
                    outline: 1em solid #fff;
                }
            }
        }

        input:checked ~ label {
            &.close {
                display: flex;
            }
        }

        input:checked ~ a {
            display: flex;
        }

        a {
            width: 50vw;
            height: 50vh;
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;
            z-index: 100;
            box-shadow: 0 0 100vw 90vw rgba(#000, 0.9);
            background: rgba(#000, 0.9);

            span {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                justify-content: center;
            }

            img {
                width: 100%;
                height: auto;
            }

            strong {
                display: none;
            }
        }

        &.portrait {
            grid-column: span 1;
            grid-row: span 2;

            label::before {
                display: flex;
                padding-top: 200%;
            }

            img {
                width: auto;
                height: 100%;
            }
        }

        &.small {
            grid-column: span 1;
            grid-row: span 1;

            label::before {
                padding-top: calc(100% - 1em / 2);
            }

            img {
                width: auto;
                height: 100%;
            }
        }

        &.portrait.small img {
            width: 100%;
            height: auto;
        }
    }

    a,
    span,
    img {
        display: block;
    }

    input {
        display: none;
    }

    img {
        width: 100%;
        height: auto;
    }
}
